/* Main stats up of screen */
/* line 2, ../scss/index.scss */
#main-stats { background-color: #fdfdfd; border-bottom: 1px solid #efeef3; margin-top: 61px; }
/* line 6, ../scss/index.scss */
#main-stats .stats-row { box-shadow: inset -1px 0px 5px 2px #f9f9f9; margin: 0; }
/* line 10, ../scss/index.scss */
#main-stats .stat { text-align: right; padding: 25px 0px 30px 0px; border-right: 1px solid #e8e9ee; position: relative; box-shadow: 1px 0px 0px 0px white; }
/* line 17, ../scss/index.scss */
#main-stats .stat.last { border-right: 0px; }
/* line 20, ../scss/index.scss */
#main-stats .stat .data { color: #29323a; text-transform: uppercase; font-weight: 600; font-size: 16px; padding-right: 50px; }
/* line 26, ../scss/index.scss */
#main-stats .stat .data .number { color: #32a0ee; font-size: 25px; margin-right: 15px; }
/* line 32, ../scss/index.scss */
#main-stats .stat .date { color: #b4b8bb; font-weight: lighter; font-family: 'Lato', 'Open Sans'; font-style: italic; font-size: 13px; position: absolute; right: 50px; }

/* line 44, ../scss/index.scss */
.section { border-top: 1px solid #edeff1; margin-top: 100px; padding-top: 45px; box-shadow: inset 0px 3px 4px -1px #fafafa; }

/* Stats chart */
/* line 53, ../scss/index.scss */
#statsChart { height: 250px; margin-top: 35px; }

/* specific chart styles */
/* line 59, ../scss/index.scss */
.legendLabel { font-size: 12px; font-family: "Open Sans", Arial; color: #9da3a9; }

/* UI elements section */
/* line 68, ../scss/index.scss */
#pad-wrapper .ui-elements h4 { margin-bottom: 35px; }
/* line 71, ../scss/index.scss */
#pad-wrapper .ui-elements .btn-flat { text-transform: uppercase; }
/* line 73, ../scss/index.scss */
#pad-wrapper .ui-elements .btn-flat.icon { text-transform: none; }
/* line 75, ../scss/index.scss */
#pad-wrapper .ui-elements .btn-flat.icon i { margin-right: 3px; }
/* line 80, ../scss/index.scss */
#pad-wrapper .ui-elements .ui-sliders { margin-top: 10px; margin-bottom: 50px; }
/* line 85, ../scss/index.scss */
#pad-wrapper .ui-elements .ui-sliders .ui-slider.slider-sample2, #pad-wrapper .ui-elements .ui-sliders .ui-slider.slider-sample3 { margin-top: 20px; }
/* line 90, ../scss/index.scss */
#pad-wrapper .ui-elements .ui-group { margin-top: 35px; }
/* line 92, ../scss/index.scss */
#pad-wrapper .ui-elements .ui-group > * { margin-right: 5px; margin-bottom: 5px; }
/* line 97, ../scss/index.scss */
#pad-wrapper .ui-elements .knobs { overflow: auto; }
/* line 100, ../scss/index.scss */
#pad-wrapper .ui-elements .knob-wrapper { float: left; }
/* line 102, ../scss/index.scss */
#pad-wrapper .ui-elements .knob-wrapper .knob { box-shadow: none; }
/* line 105, ../scss/index.scss */
#pad-wrapper .ui-elements .knob-wrapper .info { position: relative; top: -20px; }
/* line 108, ../scss/index.scss */
#pad-wrapper .ui-elements .knob-wrapper .info .param { color: #9da3a9; text-align: center; }
/* line 111, ../scss/index.scss */
#pad-wrapper .ui-elements .knob-wrapper .info .param .line { background-color: #c4cdd8; height: 3px; width: 25px; display: inline-block; margin-right: 10px; }
/* line 117, ../scss/index.scss */
#pad-wrapper .ui-elements .knob-wrapper .info .param .line.blue { background-color: #30a1ec; }

/* table sample below */
/* line 128, ../scss/index.scss */
.table-products { width: 100%; }
/* line 130, ../scss/index.scss */
.table-products .filter-block { margin-bottom: 34px; }
/* line 132, ../scss/index.scss */
.table-products .filter-block .ui-select { margin-right: 20px; top: 1px; height: 24px; width: 150px; }
/* line 138, ../scss/index.scss */
.table-products .filter-block .search { margin: 0 60px 0 0; }
/* line 141, ../scss/index.scss */
.table-products .filter-block .new-product { padding: 4px 14px; }
/* line 146, ../scss/index.scss */
.table-products .table tr.first td { border-top: 0 none; }
/* line 150, ../scss/index.scss */
.table-products .table td.description { vertical-align: middle; color: #516372; }
/* line 154, ../scss/index.scss */
.table-products .table td a { text-decoration: underline; margin-top: 6px; display: inline-block; }
/* line 160, ../scss/index.scss */
.table-products .table th input[type="checkbox"] { margin-top: 4px; }
/* line 163, ../scss/index.scss */
.table-products .table input[type="checkbox"] { float: left; margin-top: 11px; margin-right: 23px; }
/* line 168, ../scss/index.scss */
.table-products .table .img { height: 31px; float: left; background: white; width: 31px; border: 1px solid #dfe4eb; text-align: center; cursor: pointer; margin-right: 23px; }
/* line 177, ../scss/index.scss */
.table-products .table .img img { margin-top: 4px; }
/* line 181, ../scss/index.scss */
.table-products .table ul.actions { margin: 5px 0 0 0; padding: 0; float: right; }
/* line 185, ../scss/index.scss */
.table-products .table ul.actions li { display: inline; border-right: 1px solid #d0dde9; padding: 5px 6px 0px 3px; }
/* line 189, ../scss/index.scss */
.table-products .table ul.actions li.last { border: 0 none; }
/* line 193, ../scss/index.scss */
.table-products .table ul.actions i { cursor: pointer; opacity: 0.6; transition: opacity .1s linear; -moz-transition: opacity .1s linear; -webkit-transition: opacity .1s linear; -o-transition: opacity .1s linear; }
/* line 201, ../scss/index.scss */
.table-products .table ul.actions i:hover { opacity: 1; }
/* line 207, ../scss/index.scss */
.table-products .label { position: relative; }
/* line 210, ../scss/index.scss */
.table-products .pagination { float: right; margin-top: 35px; }

/* responsive */
@media (max-width: 768px) { /* line 223, ../scss/index.scss */
  #main-stats { margin-left: -15px; margin-right: -15px; }
  /* line 229, ../scss/index.scss */
  #pad-wrapper .ui-elements .knobs { text-align: center; }
  /* line 231, ../scss/index.scss */
  #pad-wrapper .ui-elements .knobs .knob-wrapper { float: inherit; }
  /* line 235, ../scss/index.scss */
  #pad-wrapper .ui-elements .showcase { text-align: center; }
  /* line 240, ../scss/index.scss */
  #pad-wrapper .table-products .table .img { display: none; }
  /* line 243, ../scss/index.scss */
  #pad-wrapper .table-products .table input[type="checkbox"] { margin-right: 10px; }
  /* line 246, ../scss/index.scss */
  #pad-wrapper .table-products .table .label { display: none; } }
@media (max-width: 979px) { /* line 256, ../scss/index.scss */
  #main-stats .stat .data { padding-right: 17px; }
  /* line 258, ../scss/index.scss */
  #main-stats .stat .data .number { font-size: 18px; }
  /* line 262, ../scss/index.scss */
  #pad-wrapper .knob-wrapper .info { display: none; }
  /* line 265, ../scss/index.scss */
  .pointer { top: 5%; }
  /* line 268, ../scss/index.scss */
  .table-products .head { margin-bottom: 20px; } }
@media (min-width: 980px) { /* line 273, ../scss/index.scss */
  #pad-wrapper .ui-elements .knob-wrapper + .knob-wrapper { margin-left: 5px; } }
@media (min-width: 1200px) { /* line 279, ../scss/index.scss */
  #pad-wrapper .ui-elements .showcase { width: 53%; }
  /* line 282, ../scss/index.scss */
  #pad-wrapper .ui-elements .knob-wrapper + .knob-wrapper { margin-left: 35px; } }
