/* line 1, ../scss/layout.scss */
body { font-family: 'Open Sans', sans-serif; /*background-color: #f7f7f7;*/ background-color: #f2f4f8; position: relative; margin: 0px; font-size: 13px; padding: 0px; /*-webkit-font-smoothing: antialiased;*/ min-height: 1000px; }

/* line 12, ../scss/layout.scss */
h1, h2, h3, h4, h5 { margin: 0; line-height: inherit; color: #29323d; }
/* line 17, ../scss/layout.scss */
h1 small, h2 small, h3 small, h4 small, h5 small { margin-left: 15px; font-style: italic; }

/* line 23, ../scss/layout.scss */
body.menu { overflow-x: hidden; }
/* line 25, ../scss/layout.scss */
body.menu .content { margin-left: 165px; position: fixed; width: 850px; }
/* line 30, ../scss/layout.scss */
body.menu #sidebar-nav { position: absolute; left: 0; /*height: 100%;*/ border-right: 0px; box-shadow: none; }

/* line 39, ../scss/layout.scss */
input.search { background: url("../../img/lens.png") #fcfcfc no-repeat 95%; box-shadow: none; height: 25px; width: 220px; font-size: 13px; padding: 2px 6px; border: 1px solid #d0dde9; margin: 0; border-radius: 2px; top: 11px; }

/* line 52, ../scss/layout.scss */
.header { margin-bottom: 60px; }
/* line 54, ../scss/layout.scss */
.header h1, .header h2, .header h3, .header h4, .header h5 { float: left; margin-top: 5px; }

/* Custom navbar stuff */
/* search input */
/* line 63, ../scss/layout.scss */
.navbar-inverse { /* navbar settings and logout icons */ /* notification menu with custom dropdowns */ /* navbar popup dialog */ }
/* line 64, ../scss/layout.scss */
.navbar-inverse input.search { height: 27px; width: 220px; padding: 3px 6px; background: url("../../img/lens.png") #0f1217 no-repeat 95%; border: 1px solid #0f1217; position: relative; border-radius: 4px; top: 9px; color: #000; font-size: 13px; margin-right: 40px; -webkit-transition: all .3s linear; -moz-transition: all .3s linear; transition: all .3s linear; }
/* line 79, ../scss/layout.scss */
.navbar-inverse input.search:focus { background-color: #fff; border: 0; }
/* line 85, ../scss/layout.scss */
.navbar-inverse .settings i { color: #9ba3ad; font-size: 21px; }
/* line 91, ../scss/layout.scss */
.navbar-inverse .notification-dropdown { position: relative; }
/* line 94, ../scss/layout.scss */
.navbar-inverse .notification-dropdown > a:hover, .navbar-inverse .notification-dropdown > a.active { background: #254261 !important; box-shadow: inset 1px 0px 1px 0px #3e5a79; }
/* line 98, ../scss/layout.scss */
.navbar-inverse .notification-dropdown i { font-size: 17px; color: #9ba3ad; }
/* line 102, ../scss/layout.scss */
.navbar-inverse .notification-dropdown .count { position: absolute; top: 1px; left: 58%; background: #35bac4; padding: 0px 5px; border-radius: 30px; color: #fff; line-height: 16px; z-index: 9999; text-align: center; font-size: 11px; }
/* line 118, ../scss/layout.scss */
.navbar-inverse .pop-dialog { position: absolute; right: -10px; top: 55px; display: none; /* navbar popup dialog for notifications */ /* navbar popup dialog for messages */ }
/* line 124, ../scss/layout.scss */
.navbar-inverse .pop-dialog.is-visible { display: block; -webkit-animation: reveal .2s ease-out; -moz-animation: reveal .2s ease-out; animation: reveal .2s ease-out; }
/* line 130, ../scss/layout.scss */
.navbar-inverse .pop-dialog .body { box-shadow: 0px 1px 9px 1px #c2c2c2; }
/* line 133, ../scss/layout.scss */
.navbar-inverse .pop-dialog .close-icon { float: right; text-decoration: none; z-index: 9999; position: relative; }
/* line 139, ../scss/layout.scss */
.navbar-inverse .pop-dialog .footer { border-top: 1px solid #e6e8e9; background-color: #eff4f7; margin: 15px 0px -10px 0px; border-radius: 0px 0px 5px 5px; padding: 12px 20px; text-align: center; }
/* line 146, ../scss/layout.scss */
.navbar-inverse .pop-dialog .footer a { font-weight: 600; color: #7d91a8; }
/* line 153, ../scss/layout.scss */
.navbar-inverse .pop-dialog .notifications { width: 330px; margin: 10px -10px 0px -10px; }
/* line 156, ../scss/layout.scss */
.navbar-inverse .pop-dialog .notifications h3 { font-size: 13px; color: #404951; font-weight: bold; padding-left: 20px; margin-top: 5px; margin-bottom: 15px; }
/* line 164, ../scss/layout.scss */
.navbar-inverse .pop-dialog .notifications .item { display: block; padding: 10px 0px 8px 20px; border-top: 1px solid #e7e8ea; color: #363636; text-decoration: none; padding-left: 50px; position: relative; transition: all .25s linear; -moz-transition: all .25s linear; -webkit-transition: all .25s linear; -o-transition: all .25s linear; }
/* line 177, ../scss/layout.scss */
.navbar-inverse .pop-dialog .notifications .item:hover { background: #f0f6ff; }
/* line 180, ../scss/layout.scss */
.navbar-inverse .pop-dialog .notifications .item > i { color: #fc827b; position: absolute; left: 19px; font-size: 18px; }
/* line 185, ../scss/layout.scss */
.navbar-inverse .pop-dialog .notifications .item > i.icon-user { left: 18px; }
/* line 189, ../scss/layout.scss */
.navbar-inverse .pop-dialog .notifications .item .time { float: right; color: #82a3c1; font-style: italic; font-weight: 600; font-size: 11px; min-width: 60px; margin-right: 5px; }
/* line 197, ../scss/layout.scss */
.navbar-inverse .pop-dialog .notifications .item .time i { font-size: 13px; color: #cfcfcf; margin-right: 1px; }
/* line 207, ../scss/layout.scss */
.navbar-inverse .pop-dialog .messages { width: 325px; margin: 10px -10px 0px -10px; }
/* line 210, ../scss/layout.scss */
.navbar-inverse .pop-dialog .messages .item { display: block; padding: 10px 20px 15px 20px; height: 80px; border-bottom: 1px solid #e7e8ea; color: #363636; text-decoration: none; position: relative; transition: all .25s linear; -moz-transition: all .25s linear; -webkit-transition: all .25s linear; -o-transition: all .25s linear; }
/* line 223, ../scss/layout.scss */
.navbar-inverse .pop-dialog .messages .item.last { border-bottom: 0px; }
/* line 226, ../scss/layout.scss */
.navbar-inverse .pop-dialog .messages .item:hover { background: #f0f6ff; }
/* line 229, ../scss/layout.scss */
.navbar-inverse .pop-dialog .messages .item .display { float: left; border-radius: 50px; margin-right: 15px; }
/* line 234, ../scss/layout.scss */
.navbar-inverse .pop-dialog .messages .item .name { font-size: 12px; color: #404951; font-weight: bold; }
/* line 239, ../scss/layout.scss */
.navbar-inverse .pop-dialog .messages .item .msg { font-size: 11px; color: #636363; line-height: 13px; position: relative; top: 2px; }
/* line 246, ../scss/layout.scss */
.navbar-inverse .pop-dialog .messages .item .time { position: absolute; right: 0px; bottom: 6px; color: #82a3c1; font-style: italic; font-weight: 600; font-size: 11px; min-width: 60px; margin-right: 5px; }
/* line 256, ../scss/layout.scss */
.navbar-inverse .pop-dialog .messages .item .time i { font-size: 13px; color: #cfcfcf; margin-right: 1px; }
/* line 263, ../scss/layout.scss */
.navbar-inverse .pop-dialog .messages .footer { margin-top: 6px; }

/* line 273, ../scss/layout.scss */
.text-active, .active > .text, .active > .auto .text { display: none !important; }

/* Sidebar */
/* line 279, ../scss/layout.scss */
#sidebar-nav { position: absolute; width: 240px; float: left; margin: 0em; padding-top: 5.8em; /*background-color: #12131a;*/ /*background-color: #800000;*/ background-color: #12131a; height: 100%; }
/* line 290, ../scss/layout.scss */
#sidebar-nav #dashboard-menu { list-style: none; padding-left: 15px; margin-bottom: 0; /*margin-left: 20px;
padding-right: 15px;*/ /* sidebar submenus */ }
/* line 297, ../scss/layout.scss */
#sidebar-nav #dashboard-menu > li > a { display: block; /*padding: 19px 14px 15px 14px;*/ padding: 8px 15px; margin-left: -15px; margin-bottom: 5px; /*border-bottom: 1px solid #dae1e8;
box-shadow: 0 2px 1px -1px #FFFFFF;
color: rgb(110, 130, 155);*/ /*color: #8287a9;*/ color: white; outline: 0px; line-height: 21px; }
/* line 312, ../scss/layout.scss */
#sidebar-nav #dashboard-menu > li > a span.pull-right { /*display: none !important;*/ position: relative; color: #515574 !important; /*float: right;*/ margin-right: 15px; }
/* line 320, ../scss/layout.scss */
#sidebar-nav #dashboard-menu.active > .auto .text { display: none !important; }
/* line 325, ../scss/layout.scss */
#sidebar-nav #dashboard-menu > li { position: relative; /* font awesome icon */ }
/* line 328, ../scss/layout.scss */
#sidebar-nav #dashboard-menu > li .icon-group { font-size: 22px; }
/* line 331, ../scss/layout.scss */
#sidebar-nav #dashboard-menu > li i { /*font-size: 23px;
top: 17px;*/ }
/* line 335, ../scss/layout.scss */
#sidebar-nav #dashboard-menu > li:hover i { opacity: 1; }
/* line 339, ../scss/layout.scss */
#sidebar-nav #dashboard-menu > li.active > a, #sidebar-nav #dashboard-menu > li > a:hover { /*color: rgba(51, 69, 90, 1);*/ color: white; text-decoration: none; background-color: #009bff; }
/* line 347, ../scss/layout.scss */
#sidebar-nav #dashboard-menu .i > li > a > i { margin: -8px -10px; line-height: 36px; width: 36px; float: left; margin-right: 5px; text-align: center; position: relative; overflow: hidden; }
/* line 357, ../scss/layout.scss */
#sidebar-nav #dashboard-menu .pointer { position: absolute; right: 9px; top: 20px; }
/* line 362, ../scss/layout.scss */
#sidebar-nav #dashboard-menu .pointer .arrow, #sidebar-nav #dashboard-menu .pointer .arrow_border { border-color: transparent #fff transparent transparent; border-width: 11px; border-style: solid; font-size: 0; left: 50%; line-height: 0; margin: 0 auto; position: absolute; top: 0; width: 0; z-index: 1002; left: 0; margin-left: 45%; }
/* line 377, ../scss/layout.scss */
#sidebar-nav #dashboard-menu .pointer .arrow_border { border-color: transparent #c0d2dd transparent transparent; border-width: 11px; margin-left: -1px; border-style: solid; z-index: 1001; top: 0px; }
/* line 387, ../scss/layout.scss */
#sidebar-nav #dashboard-menu a span { margin-left: 35px; transition: color .1s linear; -moz-transition: color .1s linear; -webkit-transition: color .1s linear; -o-transition: color .1s linear; }
/* line 394, ../scss/layout.scss */
#sidebar-nav #dashboard-menu a.ui-elements span { margin-left: 25px; }
/* line 397, ../scss/layout.scss */
#sidebar-nav #dashboard-menu a i { position: absolute; left: 0; height: 24px; width: 24px; opacity: 0.7; transition: opacity .1s ease; -moz-transition: opacity .1s ease; -webkit-transition: opacity .1s ease; -o-transition: opacity .1s ease; margin-top: 5px; }
/* line 409, ../scss/layout.scss */
#sidebar-nav #dashboard-menu a i.icon-chevron-down { position: relative; float: right; top: 5px; font-size: 11px; color: #686868; width: initial; height: initial; }
/* line 422, ../scss/layout.scss */
#sidebar-nav #dashboard-menu > li.active .dropdown-toggle { border-bottom: 0px; box-shadow: none; }
/* line 426, ../scss/layout.scss */
#sidebar-nav #dashboard-menu ul.submenu { list-style-type: none; display: none; margin-top: 7px; margin-bottom: 15px; margin-right: 5px; margin-left: -15px; padding-left: 15px; /*border-bottom: 1px solid #dae1e8;
box-shadow: 0 2px 1px -1px #FFFFFF;*/ padding-bottom: 10px; }
/* line 437, ../scss/layout.scss */
#sidebar-nav #dashboard-menu ul.submenu.active { display: block; }
/* line 440, ../scss/layout.scss */
#sidebar-nav #dashboard-menu ul.submenu a { font-weight: normal; font-size: 13px; /*color: rgb(76, 83, 90);*/ color: #8287a9; text-decoration: none; display: block; margin-bottom: 7px; }
/* line 448, ../scss/layout.scss */
#sidebar-nav #dashboard-menu ul.submenu a:hover { /*text-decoration: underline;*/ color: white; }
/* line 452, ../scss/layout.scss */
#sidebar-nav #dashboard-menu ul.submenu a.active { font-weight: bold; text-shadow: none; }

/* line 463, ../scss/layout.scss */
#pad-wrapper { padding: 0px 50px; margin-top: 80px; }
/* line 466, ../scss/layout.scss */
#pad-wrapper h4 { color: #696d73; font-style: italic; }

/* line 472, ../scss/layout.scss */
.content { min-width: 400px; min-height: 620px; margin-bottom: 20px; padding-bottom: 50px; overflow: hidden; position: relative; /*background: #fff;*/ background: transparent; margin-left: 240px; border-left: 1px solid #dae3e9; border-bottom: 1px solid #dae3e9; /*box-shadow: -3px 3px 3px -2px #f1f1f3;*/ border-radius: 0px 0px 0px 5px; -webkit-transition: margin-left .3s ease; -moz-transition: margin-left .3s ease; -o-transition: margin-left .3s ease; -ms-transition: margin-left .3s ease; transition: margin-left .3s ease; /* starts skins changer */ /* end skin changer*/ }
/* line 493, ../scss/layout.scss */
.content.wide-content { margin-left: 0; border-radius: 0; }
/* line 499, ../scss/layout.scss */
.content .skins-nav { opacity: 1; -webkit-transition: right .3s; -moz-transition: right .3s; -ms-transition: right .3s; -o-transition: right .3s; transition: right .3s; position: fixed; right: -88px; top: 135px; font-size: 13px; z-index: 9999; }
/* line 512, ../scss/layout.scss */
.content .skins-nav:hover { right: 0; }
/* line 516, ../scss/layout.scss */
.content .skins-nav a { display: block; color: #fff; text-decoration: none; padding-left: 10px; height: 37px; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; margin-bottom: 3px; -webkit-transition: all .5s; -moz-transition: all .5s; -ms-transition: all .5s; -o-transition: all .5s; transition: all .5s; }
/* line 532, ../scss/layout.scss */
.content .skins-nav a.first_nav { background: rgba(95, 175, 228, 0.8); }
/* line 534, ../scss/layout.scss */
.content .skins-nav a.first_nav:hover { background: #5fafe4; }
/* line 538, ../scss/layout.scss */
.content .skins-nav a.second_nav { background: rgba(36, 43, 77, 0.8); }
/* line 540, ../scss/layout.scss */
.content .skins-nav a.second_nav:hover { background: #242b4d; }
/* line 544, ../scss/layout.scss */
.content .skins-nav a .icon { float: left; width: 9px; height: 10px; background: url("../../img/skin-nav-bullets.png") 0 0 no-repeat; margin: 15px 15px 0 5px; }
/* line 551, ../scss/layout.scss */
.content .skins-nav a.selected .icon { background-position: 0 -9px; }
/* line 554, ../scss/layout.scss */
.content .skins-nav a .text { padding-right: 12px; white-space: nowrap; display: block; width: 115px; position: relative; top: 9px; -webkit-transition: width .2s; -moz-transition: width .2s; -ms-transition: width .2s; -o-transition: width .2s; transition: width .2s; }

/* responsive */
@media (max-width: 768px) { /* line 578, ../scss/layout.scss */
  #pad-wrapper { padding: 0px 15px; margin-top: 70px; }
  /* line 582, ../scss/layout.scss */
  .content { min-width: 0px; margin: 0; }
  /* line 586, ../scss/layout.scss */
  #dashboard-menu .pointer { display: none; }
  /* line 589, ../scss/layout.scss */
  #sidebar-nav { left: -200px; position: fixed; background-color: #f7f7f7; padding-top: 0px; border-right: 1px solid #ccc; width: 180px; box-shadow: 1px 1px 4px 1px #e9e9e9; margin-top: 160px; -webkit-transition: left .3s ease; -moz-transition: left .3s ease; -o-transition: left .3s ease; -ms-transition: left .3s ease; transition: left .3s ease; }
  /* line 604, ../scss/layout.scss */
  #sidebar-nav #dashboard-menu { background-color: #12131a; color: #656b93; }
  /* line 608, ../scss/layout.scss */
  #sidebar-nav #dashboard-menu li a span { visibility: visible; }
  /* line 611, ../scss/layout.scss */
  #sidebar-nav #dashboard-menu li:last-child a { border-bottom: 0px; box-shadow: none; } }
@media (max-width: 822px) { /* line 617, ../scss/layout.scss */
  .navbar-inverse input.search { display: none; }
  /* line 618, ../scss/layout.scss */
  .navbar-inverse { text-align: center; }
  /* line 622, ../scss/layout.scss */
  .navbar-brand { float: none; } }
@media (max-width: 767px) { /* line 627, ../scss/layout.scss */
  #main-stats .stat { width: 50%; float: left; } }
/* line 633, ../scss/layout.scss */
.alert-msg { color: #b94a48; }
